.contentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
}
.content {
    width:350px;
    max-width:100%;
}
.photo img,
.logo img,
.qrImg {
    width:100%;
    height: auto;
}

.logo {
    padding-top: 40px;
    margin-bottom: 60px;
}
.photo img {
    border-radius: 5px;
}
.btn {
    background: #0077FF;
    border-radius: 5px;
    width:100%;
    margin-top:20px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
    text-align: center;
    padding: 20px 0;
    margin-bottom:50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.btn img,
.btnLink img {
    margin-right:15px;
}
.fio {
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 120%;
    color: #000000;
    margin-bottom: 15px;
}
.fio > span:last-child {
    margin-left: 10px;
}
.photo {
    width: 350px;
    height: 350px;
    overflow: hidden;
    position: relative;
}

.photo > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.postBig {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #000000;
    margin-bottom: 8px;
}
.postSmall {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #000000;
    margin-bottom: 50px;
}
.contacts,
.social  {
    margin-bottom: 40px;
}

.contacts a {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #000000;
    text-decoration: none;
    display: flex;
    transition: .5s;
}
.contacts a img,
.social a img {
    margin-right:15px;
}
.phone,
.ws {
    margin-bottom:20px;
}
.social a {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: #000000;
    display: flex;
    text-decoration: none;
    transition: .5s;
}
.btnLink {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    color: #0077FF;
    transition: .5s;
    margin-bottom: 50px;
}
.qrWrapper {
    margin-bottom: 50px;
}
.banner {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 120%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    background: #EAEAEA;
    border-radius: 5px;
    padding:60px;
    margin-bottom: 15px;
    justify-content: center;
}

footer  {
    margin-top:40px;
}
footer img {
    margin-bottom: 15px;
}
.copyright  {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
    color: #000000;
}

footer  a {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #0077FF;
    text-decoration: none;
}
