.btn {
    background: #0077FF;
    border-radius: 5px;
    width:100%;
    margin-top:20px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
    text-align: center;
    padding: 20px 0;
    margin-bottom:50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn img,
.btnLink img {
    margin-right:15px;
}
